/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

abbr, address, cite, code,

del, dfn, em, img, ins, kbd, q, samp,

small, strong, var, b, i,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, figcaption, figure, 

footer, header, hgroup, menu, nav, section, summary,

time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background: transparent;
}

body {
	line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

/* change colours to suit your needs */

ins {
	/*三ケタの色RGB（２５５，２５５，２５５）で書けることを示す）*/
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

/* change colours to suit your needs */
mark {
	background-color:#ff9;
	color:#000; 
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

/* change border colour to suit your needs */

hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}

input, select {
	vertical-align:middle;
}

/*----------以上、リセットCSS------------------*/
/*文章の行間などを設定している*/
body {
	position: relative;
	margin: 0;
	font-family:  'Times New Roman',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #f8f8ff;/*背景色*/
	
	background-image: url("img/BI.png");
	background-attachment: fixed;
	background-size: 100% 100%;
}
/*ヘッダー（グローバルナビゲーションを囲っている）*/
header {
	text-align: center;
	font-size: 25px;
	height: auto;
	background: white;
	position: relative;/*相対配置*/
}
header p {
	position: absolute;
	color: red;/*文字は白に*/
	font-weight: bold; /*太字に*/
	font-size: 2.4em;/*サイズ2倍*/
	font-family: Helvetica , "游ゴシック", sans-serif;
	top: 90%;
	left: 77%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin:0;
	padding:0;
	width: 600px;
}
header video {
	width: 100%;
	height: auto;
	text-align: center;
	font-wight: bold;
	font-size 2em;
	color: white;
	font-size: 50px;
	padding-top: auto;
	background-color: #f8f8ff;/*背景色*/
}

/*Experiment下のexperiment,simulationなどの項目を囲む*/
nav {
	text-align: center;
	font-size: 25px;
	height: auto;
	background: #f8f9fa;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*本文が中央ぞろえになり左右に余白を設定している。*/
.container{
	margin: 0 10%;
	text-align: center;
	/*background-color: white;*//*サイドメニューの兼ね合いが生じる*/
}
/*section1で設定した文章が灰色の枠に囲まれる*/
.section1 {
	width: 900px;
	height: auto;
	padding-bottom: 2%;
		padding-top: 2%;
		padding-left: 2%;
		padding-right: 2%;
	background-color: white;
	/*background-color: transparent;*/
	border-radius: 1%;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
}
/*section2で設定した文章が白色の枠に囲まれる*/
.section2 {
	width: 900px;
	height: auto;
	padding-bottom: 2%;
		padding-top: 2%;
		padding-left: 2%;
		padding-right: 2%;
	background-color: white;
	/*background-color: transparent;*/
	border-radius: 1%;
	margin-top: 0;/*1%*/
	margin-left: auto;
	margin-right: auto;
}
/*section1のh1で囲まれた題名(experience,simulation)が強調表示される。*/
.section1 h1{
	color: black;
	text-align: left;
	font-size: 35px;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	
	padding: 0.5em 0;/*上下の余白*/
	border-top: solid 3px #364e96;/*上線*/
	border-bottom: solid 3px #364e96;/*下線*/

}
/*section2の題名(experience,simulation)が強調表示される。*/
.section2 h1{
	color: black;
	text-align: left;
	font-size: 35px;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	
	padding: 0.5em 0;/*上下の余白*/
	border-top: solid 3px #364e96;/*上線*/
	border-bottom: solid 3px #364e96;/*下線*/
}
/*section1のh2で囲まれた題名(experience,simulation)が強調表示される。fontsizeが違う*/
.section1 h2{
	color: black;
	text-align: left;
	font-size: 25px;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
}
/*section2のh2で囲まれた題名(experience,simulation)が強調表示される。fontsizeが違う*/
.section2 h2{
	color: black;
	text-align: left;
	font-size: 25px;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
}
/*section1で囲まれた文章の表示が変わる*/
.section1 p{
	text-align: justify;
	font-size: 20px;
	padding-left: 3%;
	padding-right: 3%;
}
/*section2で囲まれた文章の表示が変わる*/
.section2 p{
	text-align: justify;
	font-size: 20px;
	padding-left: 3%;
	padding-right: 3%;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.section1 ol{
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px
}
/*section2の題名(experience,simulation)が強調表示される。*/
.section2 ol{
	padding-left: 30px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px
}
/*section1のh1で囲まれた題名(experience,simulation)が強調表示される。*/
.section1 ol li{
	text-align: left;
	font-size: 20px;
	padding-left: 1%;
	padding-right: 1%;

}
/*section2の題名(experience,simulation)が強調表示される。*/
.section2 ol li{
	text-align: left;
	font-size: 20px;
	padding-left: 1%;
	padding-right: 1%;
}

/*section1のh1で囲まれた題名(experience,simulation)が強調表示される。*/
.section1 ul{
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px

}
/*section2の題名(experience,simulation)が強調表示される。*/
.section2 ul{
	padding-left: 30px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px
}
/*section1のh1で囲まれた題名(experience,simulation)が強調表示される。*/
.section1 ul li{
	text-align: justify;
	font-size: 20px;
	padding-left: 1%;
	padding-right: 1%;

}
/*section2の題名(experience,simulation)が強調表示される。*/
.section2 ul li{
	text-align: justify;
	font-size: 20px;
	padding-left: 1%;
	padding-right: 1%;
}
.section1 pre{
	text-align: left;
	font-size: 20px;
	width: 100%
	padding-left: 3%;
	padding-right: 3%;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.space {
	width: auto;
	height: 20px;
	margin: auto;
	background: transparent;
}
.space2{
	display: inline-block;
	float: left
	background-color: transparent;
	width: 10px;
	height: auto;
	padding-bottom: 3%;
	border-radius: 1%;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;*/
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*一番下のcYOKABIOの表示をよくする*/
footer {
	height: 70px;
	font-size: 25px;
	padding-top: 22px;
	margin-top: 5%;
	background-color: #353A3F;
	color: white;
	text-align: center;
}
footer p{
	background-color: #353A3F;
	color: white;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*↓トップに戻るボタン用（使っていない）↓*/
#page_top{
	width: 50px;
	height: 50px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	background: gray;
	opacity: 0.6;
	border-radius: 50%;
}

#page_top a{
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	text-decoration: none;
}

.top-bottom{
	position: fixed;
	right: 25px;
	bottom: 20px;
	color: whitesmoke;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*メニューを下スクロールで隠すため*/
#menu-wrap2 {
	position: fixed;
	z-index: 9999;
	width: 100%;
	/*left: 0;*/
	top: 0;
	/*上野メニューの色を変える*/
	background: rgba(0,0,0,.9);;
	transition: .3s;
}
/*メニューを下スクロールで隠すため*/
#menu-wrap {
	position: fixed;
	z-index: 9999;
	width: 100%;
	/*left: 0;*/
	top: 0;
	/*上野メニューの色を変える*/
	background: rgba(0,0,0,.0);
	transition: .3s;
}/*
#menu {
	list-style-type: none;
	width: 960px;
	margin: 0px auto;
	padding: 0;
}
#menu li {
	width: 20%;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}
#menu li a {
	display: block;
	width : 100%;
	padding: 20px 0;
	color: #fff;
	font-size: 14px;
	line-height: 1;
	text-decoration: none;
	transition: .3s;*/
}/*hoverでカーソル時に色を付ける*//*
#menu li a:hover {
	background: rgba(0,0,0,.3); 
}*//*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*ナビゲーション（上につくメニュー欄）*/
.cp_navi {
	background-color: black;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888888;
	display: block;
	margin: 1em 0%;
	overflow: hidden;
	width: 100%;
}
.cp_navi ul {
	margin: 0;
	padding: 0;
}
.cp_navi ul li {
	display: inline-block;
	list-style-type: none;
	-webkit-transition: all 0.2s;
	        transition: all 0.2s;
}
.cp_navi ul li a img{
	padding-top: 10px;
}
/*タイトル*/
.cp_navi ul li h1{
	display: inline-block;
	list-style-type: none;
	-webkit-transition: all 0.2s;
	        transition: all 0.2s;
}
/*下▲マーク*/
.cp_navi > ul > li > a > .caret {
	border-top: 4px solid #aaaaaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: '';
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	-webkit-transition: color 0.1s linear;
	        transition: color 0.1s linear;
}
/*マークの下に表示*/
.cp_navi > ul > li > a {
	/*Homeなどの文字の色*/
	/*color: #aaaaaa;*/
	color: white;
	display: block;
	line-height: 40px;/*line-height: 56px;*/
	padding: 0 10px;
	text-decoration: none;
}/*触ると赤くなる →修正して水色に変更(古賀)*/
.cp_navi > ul > li:hover {
	background-color: rgb(106, 181, 252);
}
.cp_navi > ul > li:hover > a {
	color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li:hover > a > .caret {
	border-top-color: rgb( 255, 255, 255 );
}
/*下につくものがボックスになる*/
.cp_navi > ul > li > div {
	/*下につけたものを同様に水色に変更(古賀)*/
	background-color: rgb(106, 181, 252);
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 300px;/*165px*/
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	       transition: opacity 0.2s;
}
/*カーソル合わせると下に表示が出る visibilityはボックスの表示（visible）・非表示（hidden）を指定する際に使用*/
.cp_navi > ul > li:hover > div {
	display: block;
	opacity: 1;
	visibility: visible;
}
/*下に表示されるのが横から縦の表示になる*/
.cp_navi > ul > li > div ul > li {
	display: block;
}
/*下表示をきれいにする*/
.cp_navi > ul > li > div ul > li > a {
	color: #ffffff;
	display: block;
	padding: 5px 24px;/*padding: 12px 24px;*/
	text-decoration: none;
	
	border-bottom: solid 1px rgba( 255, 255, 255, 0.2);/*下線 追加部分*/
}
/*下表示にカーソル合わせたときに反応する*/
.cp_navi > ul > li > div ul > li:hover > a {
	background-color: rgba( 255, 255, 255, 0.1);
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*↓サブナビゲーションバー用(スクロールに追従させる)↓sticky使うので使わない*/
.is-fixed {
	position: fixed;
		display:block;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
}
/*↑サブナビゲーションバー用↑*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*サブナビゲーション*/
#na{
	float: left;
	width: 150px;
	
	position: -webkit-sticky;
	position: sticky;
	top: 4em; /*ここで止める位置を調整する*/
	
	/*background-color: gray;
	border-radius: 1%;*/
}
#navitop{
	float: left;
	display:block;
	margin-left:1%;
	margin-top:3%;
	padding-left:0;
	list-style-type:none;
	/*border-top:1px solid #cccccc;*/
	width: 150px;

	font-size: 30px;
}
#navitop  a{
	display:block;
	padding:5px 0px 5px 5px;
	/*background-color:#eeeeee;*/
	background:transparent;
	text-decoration:none;
	color:#555555;
	width:auto;

	text-align: left;
}
#navitop li a img{
	display:block;
	background:transparent;
	width:150px;
	height; auto;

}
#navitop li a img.hover{
	background-color:#aaaaaa;
}
/*サブメニュー（横にくっついているやつ）*/
#navi{
	float: left;
	display:inline-block;
	margin-left:1%;
	margin-top:5%;
	padding-left:0;
	list-style-type:none;
	/*border-top:1px solid #cccccc;*/
	width: 150px;

	border-left: solid 2px blue;
	font-size: 20px;
}

#navi li{
	/*border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;*/
}

#navi  a{
	display:block;
	padding:5px 0px 5px 5px;
	/*background-color:#eeeeee;*/
	background:transparent;
	text-decoration:none;
	color:#555555;
	width:auto;

	text-align: left;
}

#navi a:hover{
	background-color:#aaaaaa;
}

#navi li.on{
	font-weight:bold;
}

/*sabumenyu強引なので変えたい*/
#navitop2{
	float: left;
	display:block;
	margin-left:0;
	margin-top:15%;
	padding-left:0;
	list-style-type:none;
	/*border-top:1px solid #cccccc;*/
	width: 150px;

	font-size: 30px;
}
#navitop2  a{
	display:block;
	padding:5px 0px 5px 0px;
	/*background-color:#eeeeee;*/
	background:transparent;
	text-decoration:none;
	color:#555555;
	width:auto;

	text-align: left;
}
/*サブメニュー（横にくっついているやつ）*/
#navi2{
	float: left;
	/*display:inline-block;*/
	margin-left:0;
	margin-top:10%;
	padding-left:0;
	list-style-type:none;
	/*border-top:1px solid #cccccc;*/
	width: 150px;

	border-left: solid 2px blue;
	font-size: 20px;
}

#navi2 li{
	/*border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;*/
}

#navi2  a{
	display:block;
	padding:5px 0px 5px 5px;
	/*background-color:#eeeeee;*/
	background:transparent;
	text-decoration:none;
	color:#555555;
	width:auto;

	text-align: left;
}

#navi2 a:hover{
	background-color:#aaaaaa;
}

#navi2 li.on{
	font-weight:bold;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
p.break{
	word-break: break-all;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.navToggle {
	display: block;
	position: fixed;    /* bodyに対しての絶対位置指定 */
	left: 13px;
	top: 12px;
	width: 42px;
	height: 51px;
	cursor: pointer;
	z-index: 3;
	background-color: #666;/*広げる前の色#666 rgb(106, 181, 252, 0.9)*/
	text-align: center;
}
 
.navToggle span {
	display: block;
	position: absolute;    /* .navToggleに対して */
	width: 30px;
	border-bottom: solid 3px #eee;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
	left: 6px;
}
 
.navToggle span:nth-child(1) {
	top: 9px;
}
 
.navToggle span:nth-child(2) {
	top: 18px;
}
 
.navToggle span:nth-child(3) {
	top: 27px;
}
 
.navToggle span:nth-child(4) {
	border: none;
	color: #eee;
	font-size: 9px;
	font-weight: bold;
	top: 34px;
}

/* 最初のspanをマイナス45度に */
.navToggle.active span:nth-child(1) {
	top: 18px;
	left: 6px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
 
/* 2番目と3番目のspanを45度に */
.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
	top: 18px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

nav.globalMenuSp {
	display: block;/**/
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: #ccc;/*	background: #fff; #ccc*/
	color: #000;
	text-align: center;
	transform: translateX(-120%);/*XとYで横から出てくるか縦から出てくるか指定できる*/
	transition: all 0.6s;
	width: 40%;/*100%だと画面一杯*/
	
	height: 100%;
	float:left;/*左側に配置したいとき*/
	overflow: scroll;
}
 
nav.globalMenuSp ul {
	background-color: #ccc;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
 
nav.globalMenuSp ul li {
	font-size: 0.9em;/*文字の大きさ*/
	list-style-type: none;
	padding: 0;
	width: 100%;
	border-bottom: 1px dotted #333;/*文字の境に点線*/
}
 
/* 最後はラインを描かない */
nav.globalMenuSp ul li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}
 
nav.globalMenuSp ul li a {
	display: block;
	color: #000;/*文字の色*/
	padding: 0.2em 0;/*縦方向の幅を指定できる*/
}
 
/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
	transform: translateX(0%);/*-100と０で移動する*/
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.header{
	paddig: 10px 10px 0 10px;
	background-color: #8abc60;
}

.header h1{
	margine: 0;
	font-size:24px;
	line-height: 1;
}

.header h1 a{
	color: #fff;
	text-decoration:none;
}

.header .logo{
	margine: 0 10px 0 0;
	border: none;
	vertical-align: -15px;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*スクロールダウンボタン*/
header a {
	padding-top: 60px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-decoration: none;
	color: black;/*スクロールボタンの文字の色*/
}
header a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid black;/*#fff*/
	border-radius: 100%;
	box-sizing: border-box;
}
header a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}
header a span::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 44px;
	height: 44px;
	box-shadow: 0 0 0 0 rgba(255,255,255,.1);/*255→0*/
	border-radius: 100%;
	opacity: 0;
	-webkit-animation: sdb 3s infinite;
	animation: sdb 3s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(0,0,0,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(0,0,0,.1);
	opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*図表の設定を行う*/
.figure{
}

.figure img{
	width: 70%;
	height: auto;
}

.figure video{
	width: 70%;
	height: auto;
}

.figure h1{
	/*color: black;*/
	text-align: center;
	font-size: 25px;
	padding-bottom: 2%;
	padding-left: 2%;
	padding: 0;/*上下の余白*/
	border-top: 0;/*上線*/
	border-bottom: 0;/*下線*/
}

.figure p{
	text-align: left;
	font-size: 18px;
	padding-left: 3%;
	padding-right: 3%;
	text-align:	center;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*ソースコードを乗せるためのスライドパネル*/
input {
	display: none;
}
label {
	cursor: pointer;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 4px;
	background: #0bd;
	color: #FFF;
	-webkit-transition: 0.1s;
	transition: 0.1s;
	width: 100px;
}
label:hover {
	background: #0090aa;
}
.panel {
	-webkit-transition: .3s ease;
	transition: .3s ease;
	height: 0;
	overflow: hidden;
	background: #F5F0CF;
	margin-top: 10px;
	padding: 0;
	border-radius: 5px;
}
input:checked + .panel {
	height: auto;
	padding: 15px;
}

/*下向き矢印*/
label span{
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid white;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.midasi{
	text-align:center;
	width: 900px;
	height: auto;
	padding-bottom: 3%;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
}
.midasi h1 {
	font-size: 40px;
	/*見出しを白→藍色へのグラデーションに変更(古賀)*/
	background: linear-gradient(#ffffff,#020085); /*背景色*/
	padding: 0.5em;/*文字周りの余白*/
	color: white;/*文字を白に*/
	
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*edit by koga */
.photo {
	width:	100%;
	margin:		0;
	padding:	30;
	position:	relative; /* 相対位置指定 */
}
.photo img {
	width:		100%;
}
.text {
	width:		100%;
	font-size:	300%;
	text-align:	center;
	bottom:		10%;
	margin:		0;
	padding:	0;
	color:		#fff;
	background:	rgba(0,0,0,0.5); /* 帯の透明度 */
	position:	absolute; /* 絶対位置指定 */
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:1260px){
	#navitop{
		width: 100px;
		font-size: 25px;
	}
	#navitop li a img{
		width:100px;
	}
	#navi{
		width: 100px;
		font-size: 15px;
	}
	body {
		background-image: url("img/BI2.png");
	}
}
@media screen and (max-width:1185px){
	#navitop{
		width: 85px;
		font-size: 15px;
	}
	#navitop li a img{
		width:85px;
	}
	#navi{
		width: 85px;
		font-size: 12px;
	}
}
@media screen and (max-width:1080px){
	#navitop{
		display: none;
	}
	#navitop2{
		display: none;
	}
}
@media screen and (max-width:900px){
	.cp_navi{
		display: none;
	}
}
@media screen and (max-width:1000px){
.cp_navi ul li img{
		display: none;
	}
}
@media screen and (min-width:901px){
	.navToggle {
		display: none;
	}
}
@media screen and (min-width:900px){
	nav.globalMenuSp {
		display: none;/**/
	}
}
@media screen and (max-width:1000px){
    .section1 {
		width: auto;
	}
	.section2 {
		width: auto;
	}	
	
}
@media screen and (max-width:1000px){
	.midasi{
		width: auto;
	}
}
@media screen and (max-width:1350px){
	header p {
		position: absolute;
		font-weight: bold; /*太字に*/
		font-size: 1.5em;/*サイズ2倍2em*/
		top: 90%;
		left: 70%;
		width: 400px;
	}
}
/*スマートフォンの大きさの時*/
@media screen and (max-width:650px){
	/*本文が中央ぞろえになり左右に余白を設定している。*/
	.container{
		margin: 0;
		text-align: center;
	}
	/*section1で設定した文章が灰色の枠に囲まれる*/
	.section1 {
		width: auto;
		height: auto;
		padding-bottom: 0;
		/*background-color: gainsboro;*/
		background-color: white;
		border-radius: 0;
		margin-top: 1%;
		margin-left: auto;
		margin-right: auto;
	}
	/*section2で設定した文章が白色の枠に囲まれる*/
	.section2 {
		width: auto;
		height: auto;
		padding-bottom: 0;
		/*background-color: gainsboro;*/
		background-color: white;
		border-radius: 0;
		margin-top: 1%;
		margin-left: auto;
		margin-right: auto;
	}
	/*section1のh1で囲まれた題名(experience,simulation)が強調表示される。*/
	.section1 h1{
		color: black;
		text-align: left;
		font-size: 25px;
		padding-top: 1%;
		padding-bottom: 1%;
		padding-left: 1%;
	
		padding: 0.2em 0;/*上下の余白0.5*/
		border-top: solid 3px #364e96;/*上線*/
		border-bottom: solid 3px #364e96;/*下線*/
	}
	/*section2の題名(experience,simulation)が強調表示される。*/
	.section2 h1{
		color: black;
		text-align: left;
		font-size: 25px;
		padding-top: 1%;
		padding-bottom: 1%;
		padding-left: 1%;
	
		padding: 0.2em 0;/*上下の余白0.5*/
		border-top: solid 3px #364e96;/*上線*/
		border-bottom: solid 3px #364e96;/*下線*/
	}
	/*section1のh2で囲まれた題名(experience,simulation)が強調表示される。fontsizeが違う*/
	.section1 h2{
		color: black;
		text-align: left;
		font-size: 15px;
		padding-top: 2%;
		padding-bottom: 2%;
		padding-left: 2%;
	}
	/*section2のh2で囲まれた題名(experience,simulation)が強調表示される。fontsizeが違う*/
	.section2 h2{
		color: black;
		text-align: left;
		font-size: 15px;
		padding-top: 1%;
		padding-bottom: 1%;
		padding-left: 1%;
	}
	/*section1で囲まれた文章の表示が変わる*/
	.section1 p{
	text-align: justify;
		font-size: 14px;
		padding-left: 2%;
		padding-right: 2%;
	}
	/*section2で囲まれた文章の表示が変わる*/
	.section2 p{
	text-align: justify;
		font-size: 14px;
		padding-left: 2%;
		padding-right: 2%;
	}

	.section1 ol{
		padding-left: 40px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px
	}
	.section2 ol{
		padding-left: 30px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px
	}
	.section1 ol li{
		text-align: left;
		font-size: 14px;
		padding-left: 1%;
		padding-right: 1%;
	}
	.section2 ol li{
		text-align: left;
		font-size: 14px;
		padding-left: 1%;
		padding-right: 1%;
	}

	.section1 ul{
		padding-left: 40px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px
	}
	.section2 ul{
		padding-left: 30px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px
	}
	.section1 ul li{
		text-align: left;
		font-size: 14px;
		padding-left: 1%;
		padding-right: 1%;
	}
	.section2 ul li{
		text-align: left;
		font-size: 14px;
		padding-left: 1%;
		padding-right: 1%;
}

	header p {
		position: absolute;
		font-weight: bold; /*太字に*/
		font-size: 1.0em;/*サイズ2倍*/
		top:87%;
		left: 50%;
		width: 500px;
	}
	/*図表の設定を行う*/
	.figure{
	}

	.figure img{
		width: 70%;
		height: auto;
	}

	.figure video{
		width: 70%;
		height: auto;
	}

	.figure h1{
		/*color: black;*/
		text-align: center;
		font-size: 20px;
		padding-bottom: 2%;
		padding-left: 2%;
		padding: 0;/*上下の余白*/
		border-top: 0;/*上線*/
		border-bottom: 0;/*下線*/
	}

	.figure p{
		text-align: left;
		font-size: 14px;
		padding-left: 3%;
		padding-right: 3%;
		text-align:	center;
	}
}
@media screen and (max-width:1250px){
	header a{
		display:none;
	}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.array{
}
.array p{
	text-align: left;
	font-size: 18px;
	padding-left: 3%;
	padding-right: 3%;
	border: 1px solid #ddd;
}
@media screen and (max-width:1000px){
	.array p{
		text-align: left;
		font-size: 15px;
		padding-left: 3%;
		padding-right: 3%;
		border: 1px solid #ddd;
	}
}
@media screen and (max-width:700px){
	.array p{
		text-align: left;
		font-size: 11px;
		padding-left: 3%;
		padding-right: 3%;
		border: 1px solid #ddd;
	}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.member_top{
	display: inline-block;
	text-align: center;
	width: 90%;
}
.member_top h1{
	font-size: 35px;
}
.member_top p{
	font-size: 30px;
}
.member{
	display: inline-block;
	width: 330px;
	background-color: WHITE;
	border-radius: 10%;
	margin: 15px;
}
.member table{
	pointer-events: none;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

.member table tr{
  border-bottom: solid 1px transparent;
  cursor: pointer;
}

.member table th,table td{
  text-align: center;
  width: 30%;
  padding: 5px 0;
}

.member table img{
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  250px;       /* ※縦横を同値に */
    height: 250px;       /* ※縦横を同値に */
}

.member table p{
	text-align: center;
	font-size: 30px;
	padding-left: 0%;
	padding-top: 0%;
}
.sponsor{
	display: inline-block;
	width: 100%;
	background-color: WHITE;
	border-radius: 10%;
}

.sponsor table{
	pointer-events: none;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

.sponsor table tr{
  border-bottom: solid 1px transparent;
  cursor: pointer;
}

.sponsor table th,table td{
  text-align: center;
  width: 30%;
  padding: 5px 0;
}

.sponsor table img{
    width:  90%;
}

.sponsor table p{
	text-align: center;
	font-size: 25px;
	padding-left: 0%;
	padding-top: 0%;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.imageIn {
	width: 100%;
}

img[usemap] {
    max-width: 100%;
    height: auto;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.btnblock{
	text-align: right;
}
.btn{
  position: relative;
  display: inline-block;
  border-radius: 5px;
  background-color: grey;
  padding: 10px;
  text-align: center;
  color: white;
  width: 250px;
  font-size: 15px;
}
.btn:after{
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 6px;
  height: 6px;
  margin: -4px 0 0 0;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}